.app-header {
  position: relative;
  overflow: hidden;
  background-color: #edf3f8;
  min-height: 100vh;
}

.app-navbar {
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  color: #6c8294;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-links > a {
  margin-right: 40px;
}

.intro-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}

.intro-text {
  width: 50%;
  color: #36536b;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.intro-text > h1 {
  margin-bottom: 32px;
  font-family: serif;
  text-align: left;
}
.intro-input {
  margin: 20px 0px 6px 0px;
}

.app-input {
  padding: 8px 16px;
  border-radius: 30px;
  border: none;
  background-color: transparent;
  width: 100%;
}
.app-input:focus {
  outline: none;
}
.input-wrapper {
  background-color: #fff;
  padding: 0px;
  border-radius: 30px;
  border: none;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.menu-icon {
  display: none;
}
.navbar-btn {
  display: block;
}
.nav_list-item {
  display: block;
}

@media screen and (max-width: 1024px) {
  .intro-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
  }
  .intro-text {
    width: 100%;
    align-items: center;
  }
  .intro-text > h1 {
    text-align: center;
  }
  .circle-bg {
    position: absolute;
    right: 0px;
    left: -90px;
    top: -780px;
    width: 120%;
    height: 100%;
  }
  .circle-bg-holder {
    position: absolute;
    height: 1215px;
    max-width: none;
    max-height: none;
  }
}

@media screen and (max-width: 768px) {
  .circle-bg {
    left: -80px;
  }
  .menu-icon {
    display: block;
  }
  .navbar-btn {
    display: none;
  }
  .nav_list-item {
    display: none;
  }
}

.about-intro-section {
  background: #1b262f;
  position: relative;
  overflow: hidden;
  padding: 100px 0;
}

.about-circle {
  position: absolute;
  top: -350px;
  left: -250px;
}
.about-intro_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.about-intro_text {
  color: #fff;
  width: 40%;
  margin-bottom: 0px;
  text-align: left;
}
.about-intro_text > p {
  line-height: 2;
  font-size: 17px;
  margin-top: 12px;
}
.about_partners {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  align-items: center;
  gap: 30px;
  margin-bottom: 0;
}
.about_partners_icon {
  margin-right: 30px;
  margin-bottom: 40px;
}

.section-flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section-grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 32px;
}

.section-grid-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-grid-content > img {
  margin-bottom: 12px;
}

@media screen and (max-width: 1024px) {
  .about-intro_flex {
    display: flex;
    flex-direction: column-reverse;
  }
  .about-intro_text {
    width: 90%;
    margin-bottom: 40px;
    text-align: center;
  }
  .about-circle {
    top: -305px;
    left: 0;
  }
  .about-intro-section {
    padding: 0 0;
  }
  .about_partners {
    margin-bottom: 24px;
  }
  .section-flex_row {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
}

@media screen and (max-width: 768px) {
  .section-grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 32px;
  }
  .input-wrapper {
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: none;
  }
  .app-input {
    background-color: #fff;
    margin-bottom: 12px;
  }
  .app-button {
    width: 100%;
  }
}

/* Contact page */
.contact-input {
  background-color: transparent;
  padding: 6px 12px;
  border-bottom: 1px solid #929596;
  margin-bottom: 24px;
}

/* Signup Page */
.signup-input {
  background-color: transparent;
  padding: 6px 12px;
  border: 1px solid #929596;
  margin-bottom: 24px;
}
