h1 {
  font-size: 80px;
  font-weight: 700;
}

h2 {
  font-size: 54px;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
}

p {
  font-size: 16px;
}

input:focus {
  outline: none !important;
}
textarea:focus {
  outline: none !important;
}

.app-container {
  max-width: 1240px;
  margin: auto;
}
.app-button {
  border-radius: 30px;
  padding: 12px 24px;
  font-size: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  width: auto;
  font-weight: 500;
}

.pry-btn {
  background-color: #ba4270 !important;
}
.pry-btn:hover {
  background-color: rgb(186, 66, 112, 0.5) !important;
}
.sec-btn {
  background-color: transparent !important;
  border: 1px solid #fff;
  color: #fff;
}
.sec-btn:hover {
  background-color: #fff !important;
  color: #36536b;
}

.tert-btn {
  background-color: #edf3f8 !important;
  border: 1px solid #36536b;
  color: #36536b;
}

.tert-btn:hover {
  background-color: #36536b !important;
  border: none;
  color: #edf3f8;
}


@media screen and (max-width: 1300px) {
  .app-container {
    padding: 70px 50px;
  }
}


@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  p {
    font-size: 14px;
  }
  .app-container {
    padding: 50px 24px;
  }
}