.App {
}

.circle-bg-holder {
  max-width: 700px;
  max-height: 700px;
  width: 100%;
}
.circle-bg {
  position: absolute;
  right: -200px;
  top: -250px;
}
.app-header {
  position: relative;
  overflow: hidden;
  background-color: #edf3f8;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  /* .circle-bg {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
